@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fontcolorlight: #EFAAE9;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.head-btn-color {
  color: var(--fontcolorlight);
}

.color-blue {
  color: #1786F9;
}

.timeline hr {
  background-color: #EE46BC;
}